.App {
  text-align: center;
}
input{
  width:62%;
  padding: 8px;
  margin-bottom: 25px;
}
.main{
  display: flex;
  justify-content: center;
  margin-top: 5%;

}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: -10px 10px 25px 2px #ff0000, 10px -10px 25px 2px #0000ff;
}
.op{
  display: flex;
  justify-content: center;
  gap: 10px;
  padding:10px;
}
.oparator{
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.cal{
  width: 69%;
    margin-bottom: 15px;
    border-radius: 5px;
    height: 30px;
    background-color: lawngreen;
    cursor: pointer;
}
.oparator:hover{
  background-color:  lawngreen;
  color: black;
  cursor: pointer;
}
button:active{
  background-color:  lawngreen;
  color: black;
}